form {
  width:30%;
}

.well {
  min-height: 150px;
}

.row>* {
  min-height: 150px;
}

.op1 {
  background-color: skyblue;

}

.op2 {
  background-color: lightgreen;

}

.op3 {
  background-color: beige;
}

.highlighted {
  background-color:yellow;
}

#intro {

}

#questions {
  display:none;
}

#results {
  display:none
}

.q2,.q3,.q4,.q5 {
  display:none;
}
